@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-layout {
  background-color: white;
}

.ant-layout .ant-layout-sider-zero-width-trigger {
  position: absolute;
  top: 10px;
  left: 25px;
  inset-inline-end: -40px;
  z-index: 1;
  width: 40px;
  height: 40px;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #9b0102;
  border-start-start-radius: 6px;
  border-start-end-radius: 6px;
  border-end-end-radius: 6px;
  border-end-start-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}
